
.portfolio-list{
  display: flex; 
  justify-content: center;
  flex-wrap: wrap;
}
.container{
  display:flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
}
.image{
  width:100px;
  height:100px;
}

.activity-card{
  width:90%;
  height: 10%;
  border-bottom: grey solid 1px;
  padding: 1rem;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
}

.photo{
  font-size: .5rem;
}
.containerForPhoto{
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align:center ;
}

.link:hover{
  text-decoration: underline;
}